.wdth_245{
    width: 245px !important;
}
.inputs_contact{
    background: #051d27;
    border: 0 solid;
    border-radius: 0;
    color: #16a2dc;
    border-bottom: 1px solid #16a2dc;
}
.btn_commencer{
    padding: 11px 37px;
}
input:focus, input:active, select:focus{
    outline: none;
    box-shadow: 0 0 0;
}