.title{
    margin-top: 101px;
}
.second_title{
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 60px;
}
.color_silver{
    color: #F2F4F5;
}
.teaser{
    margin-top: 60px;
}
.center_items{
    text-align: -webkit-center;
}