<div class="container text-center animated fadeIn">
  <div>
    <h3 class="text-uppercase title">gestion des risques en self-service</h3>
    <p class="color_silver second_title second_title_color">Une solution self-service pour tous les acteurs du Risque Management</p>
  </div>
  <div class="p-2">
      <button class="btn btn-info btn-lg text_cap">commencer</button>
  </div>
  <!-- <div class="teaser">
    <cardUX></cardUX>
  </div> -->
  <div class="container mt-5">
      <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner center_items">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                      <div class="col-sm"><cardUX></cardUX></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
