<div class="cover animated fadeIn">
  <div class="container">
    <div class="box_contents">
      <div class="row">
        <div class="col-sm">
          <h1 class="h1">chiffre</h1>
        </div>
        <div class="col-sm">
          <p class="contents_title">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis fuga odit aliquid cupiditate, porro libero nemo nostrum corporis fugiat asperiores consectetur molestias dicta, veritatis ipsam? Obcaecati in voluptate neque laboriosam exercitationem eos odio similique, autem eaque blanditiis vel.
          </p>
        </div>
      </div>
      <div class="contents_title">
          <div class="row">
            <div class="col text-center">
              <h1 class="tag">100+</h1>
              <p class="text-uppercase text_tag"> institutions comme référence</p>
            </div>
            <div class="col text-center">
                <h1 class="tag">10K+</h1>
                <p class="text-uppercase"> activations chaque mois</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="box_footer">
  <box-formations></box-formations>
</div>