<footer class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          <img class="logo_lab" src="../../../assets/img/logonavbar.PNG" alt="">
          <img class="logo_mob" src="../../../assets/img/logo_mobile.PNG" alt="">
        </div>
        <div>
          <p class="second_title_color text_footer">Copyright &copy; {{year}} powered by IT EXVIVO</p>
        </div>
      </div>
      <div class="col-md-3">
          <h6 class="head_footer"> Accés Rapides </h6>
          <div class="second_title_color list_size">
            <p>MARISYS</p>
            <p>Formation</p>
            <p>Nous contacter</p>
            <p>Prestations de service</p>
            <p>Témoignages</p>
            <p>Carriéres</p>
            <p>Politique de confidentialité</p>
          </div>
        </div>
        <div class="col-md-2">
            <h6 class="head_footer"> Les modules </h6>
            <div class="second_title_color list_size">
              <p>Dashboard</p>
              <p>Analytics</p>
              <p>Gestion d'univers</p>
              <p>Cartographies</p>
              <p>Plan d'action</p>
              <p>Gestion des audits</p>
              <p>Evaluation de dispositif</p>
              <p>Gestion d'oppotunités</p>
            </div>
          </div>

          <div class="col-md-2">
              <h6 class="head_footer"> Liens utiles </h6>
              <div class="second_title_color list_size">
                <p>Blog</p>
                <p>Espace Client</p>
                <p>Support</p>
                <p>FAQ</p>
                <p>Newsletter</p>
                <p>Evénements</p>
              </div>
            </div>

            <div class="col-md-2">
                <h6 class="head_footer"> Suivez-nous </h6>
                <div class="row width_41_mob">
                  <div class="col p-1"><i class="social fa fa-linkedin" aria-hidden="true"></i></div>
                  <div class="col p-1"><i class="social fa fa-twitter" aria-hidden="true"></i></div>
                  <div class="col p-1"><i class="social fa fa-facebook" aria-hidden="true"></i></div>
                  <div class="col p-1"><i class="social fa fa-flickr" aria-hidden="true"></i></div>
                </div>
              </div>                    
    </div>
  </div>
</footer>