<div class="box_footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="../../../assets/img/img_footer1.PNG" alt="">
      </div>
      <div class="col-sm">
        <img src="../../../assets/img/img_footer2.PNG" alt="">
      </div>
      <div class="col-sm">
        <img src="../../../assets/img/img_footer3.PNG" alt="">
      </div>
      <div class="col-sm">
        <img src="../../../assets/img/img_footer4.PNG" alt="">
      </div>
    </div>
  </div>
</div>
