<div class="card cardux">
    <div class="text-center">
      <img class="card-img-top circle_img p-2" src="https://dummyimage.com/640x360/fff/aaa" alt="Card image">
    </div>
    <div class="card-body p-0">
      <h4 class="card-title text-center text-primary">John Doe</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laborum, qui esse numquam quia aliquam ea blanditiis quo velit</p>
      <p>
        <img class="footer_img" src="../../../assets/img/carde_footer.PNG"  alt="">
      </p>
    </div>
  </div>
  <br><br>