<div class="container pt-5 pb-5 animated fadeIn">
  <div class="row pb-5">
    <div class="col-md-4 fix_padd_mob">
      <div class="pt-5">
        <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      </div>
      <div>
        <h6 class="second_title_color">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias doloremque ea quo recusandae velit inventore aliquam soluta ducimus optio culpa eum, hic eveniet quam sequi obcaecati est voluptatibus nostrum architecto?
        </h6>
      </div>
      <div>
        <p class="functions btn btn-link"> <a href="#" class="second_title_color">Voir toutes les fonctionalités</a></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm">
          <div class="p-3 box" style="background: #136B90;">
              <p>
                <img src="../../../assets/img/blog_logo1.PNG" alt="">
              </p>
              <p class="text-capitalize font-weight-bold color_white ">
                organigramme
              </p>
              <p>
                Description global , enumeration complete
                des unités internes ainsi sue des liens associés.
                Stockage illimité de document dans un univers dédié
              </p>
            </div>
          </div>
          <div class="col-sm">
            <div class="p-3 box bpmn">
            <p>
              <img src="../../../assets/img/blog_logo3.PNG" alt="">
            </p>
            <p class="font-weight-bold color_white">
              BPMN 2.0
            </p>
            <p>
              Recencement complet avec visualisation interactive des preocessus de votre organisation ,
               Détection automatisation de non conformité dans les porcessus
            </p>
          </div>
        </div>
      </div><!-- .row -->
      <div class="row pt-3 pb-5">
          <div class="col-sm">
            <div class="p-3 box risques" style="background: #80ceef;">
                <p>
                  <img src="../../../assets/img/blog_logo2.PNG" alt="">
                </p>
                <p class="text-capitalize font-weight-bold color_black">
                  Intelligence de Risques
                </p>
                <p class="second_title_color2">
                  Une biblothéque aini qu'une base de connaissance dynamique
                   de risques avec un moteur
                   de prédiction à base d'intelligence artificielle
                </p>
              </div>
            </div>
            <div class="col-sm">
              <div class="p-3 box" style="background: #1ca3dc;">
              <p>
                <img src="../../../assets/img/blog_logo4.PNG" alt="">
              </p>
              <p class="text-capitalize font-weight-bold color_black">
                Opportunités
              </p>
              <p class="second_title_color2">
                Description global,enumeration complete
                des unités internes ainsi sue des liens associés.
                Stockage illimité de document dans un univers dédié
              </p>
            </div>
          </div>
        </div><!-- .row -->
    </div>
  </div>
</div>
<div >
  <img src="../../../assets/img/blog_img.png" alt="">
</div>